body {
    align-items: center;
    background-image: linear-gradient(to right, red, orange);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 544px;
    height: 544px;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.square {
    background-color: white;
    border: 1px solid black;
    width: 32px;
    height: 32px;
}