body {
    align-items: center;
    background-image: linear-gradient(to right, red, orange);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 288px;
    height: 288px;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.square {
    width: 16px;
    height: 16px;
    border: 1px solid black;
}